*.o
*.lo
*.la
*.swp
test/*.trs
test/*.log
aclocal.m4
ar-lib
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure.scan
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
src/.deps
src/.libs
src/Makefile
src/Makefile.in
stamp-h1
tags
test-driver
test/.deps
test/Makefile
test/Makefile.in
test/provider_api
test/thread_multi
missing
